html {
    background-color: lightblue;
}

.main {
    height: 250px;
    width: 200px;
    
}

h1 {
    color: blue;
    text-align: center;
}

#duration-err {
    color: red;
}

#launch {
    margin-top: 5px;
    background-color: bisque;
    border-radius: 3px;
}

